[submodule "WRF4/WPS"]
        recurse = true
	path = WRF4/WPS
	url = https://github.com/wrf-model/WPS
[submodule "WRF4/WRF"]
        recurse = true
	path = WRF4/WRF
	url = https://github.com/wjcapehart/WRF
