*.exe
*.o
*.nc
FILE:*
GRIBFILE.???
wrfinput_d*
wrfbdy_d*
wrfout_d*
*.grib2
WRF4/UPPV4.1
rsl*
met_em*
.DS_Store
.DS_Store
ARCHIVE
WEB_IMAGES
METARS
.DS_Store
current_run.txt
current_run_formatted.txt
deleteme.txt
processing_DEWP1_gif.sh
processing_DBZ1_gif.sh
processing_PBL1_gif.sh
processing_RAIN1_gif.sh
processing_SFCT1_gif.sh
processing_SRH2_gif.sh
processing_SNOWH1_gif.sh
processing_WIND1_gif.sh
processing_WEASD1_gif.sh
processing_UHEL2_gif.sh
wrf_post_upp.sh
wrf_post_processing.sh
processing_skewt1_gif.sh
processing_DEWP2_gif.sh
processing_DBZ2_gif.sh
processing_PBL2_gif.sh
processing_RAIN2_gif.sh
processing_SRH2_gif.sh
processing_SFCT2_gif.sh
processing_SNOWH2_gif.sh
processing_WIND2_gif.sh
processing_WEASD2_gif.sh
processing_skewt2_gif.sh
processing_UHEL2_gif.sh
Metar_Dump.csv
Metar_Dump.csv
Metar_loc_dump.csv
Metar_Dump.csv
.ipynb_checkpoints/plot_maps_dxx-checkpoint.ipynb
.ipynb_checkpoints/plot_maps_dxx-checkpoint.py
.ipynb_checkpoints/plot_skewt_d01-checkpoint.ipynb
.ipynb_checkpoints/plot_skewt_d02-checkpoint.ipynb
.ipynb_checkpoints/plot_maps_dxx-checkpoint.ipynb
.ipynb_checkpoints/plot_skewt_d01-checkpoint.ipynb
.ipynb_checkpoints/plot_skewt_d02-checkpoint.ipynb
*.LOG
