*.exe
*.o
*.nc
FILE:*
GRIBFILE.???
wrfinput_d*
wrfbdy_d*
wrfout_d*
*.grib2
WRF4/UPPV4.1
rsl*
met_em*
.DS_Store
.DS_Store
ARCHIVE
WEB_IMAGES
METARS
.DS_Store
current_run.txt
current_run_formatted.txt
./current_run.txt
current_run.txt
deleteme.txt
current_run.txt
current_run.txt
deleteme.txt
