
[submodule "WRF4/WPS"]
	path = WRF4/WPS
	url = https://github.com/wrf-model/WPS
[submodule "WRF4/WRF"]
	path = WRF4/WRF
	url = https://github.com/wrf-model/WRF
[submodule "WRF4/UPPV4.1"]
	path = WRF4/UPPV4.1
	url = https://github.com/NOAA-EMC/EMC_post
	branch = dtc_post_v4.1.0
